
@{
    ViewBag.Title = "Message Sent!";
}

<h2>
    @* thank the user for contact submission *@
    Your message has been sent, <span class="emphasis">@ViewBag.Contact</span>. <br />
    Thank you for your correspondence, we will get back to you as soon as possible.
</h2>
@* //! custom css *@