<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>excursus - a free web template</title>
<link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>
<div id="wrapper">

	<div id="top" class="clear">
		<h1><a href="#">excursus</a></h1>
		<h2>Lorem ipsum dolor sit amet</h2>
	</div>
	
	<div id="nav" class="clear">
		<div class="ul">
			<ul>
				<li class="selected"><a href="index.html">home</a></li>
				<li><a href="examples.html">examples</a></li>
				<li><a href="#">products</a></li>
				<li><a href="#">support</a></li>
				<li><a href="#">contact</a></li>
			</ul>
		</div>
	</div>
	
	<div id="body" class="clear">
		<div id="sidebar" class="column-right">
			<ul>	
				<li>
					<h4>Links</h4>
	
					<ul>
						<li><a href="http://www.spyka.net" title="spyka Webmaster resources">spyka webmaster</a></li>
						<li><a href="http://www.justfreetemplates.com" title="free web templates">Free web templates</a></li>
						<li><a href="http://www.spyka.net/forums" title="webmaster forums">Webmaster forums</a></li>
						<li><a href="http://www.awesomestyles.com/mybb-themes" title="mybb themes">MyBB themes</a></li>
						<li><a href="http://www.awesomestyles.com" title="free phpbb3 themes">phpBB3 styles</a></li>
					</ul>
				</li>
				
				<li>
	
					<h4>Categories</h4>
					<ul>
					  <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
					  <li><a href="#">Quisque consequat nunc a felis.</a></li>
					  <li><a href="#">Suspendisse consequat magna at.</a></li>
					  <li><a href="#">Etiam eget diam id ligula rhoncus.</a></li>
					  <li><a href="#">Sed in mauris non nibh.</a></li>
					</ul>
				</li>
				<li>
					<h4>Sponsors</h4>
	
					<ul>
	
						<li><a href="http://www.themeforest.net/?ref=spykawg" title="premium templates"><strong>ThemeForest</strong></a> - premium HTML templates, WordPress themes and PHP scripts</li>
						<li><a href="http://www.dreamhost.com/r.cgi?259541" title="web hosting"><strong>Web hosting</strong></a> - 50 dollars off when you use promocode <strong>awesome50</strong></li>
						<li><a href="http://www.4templates.com/?aff=spykawg" title="4templates"><strong>4templates</strong></a> - brilliant premium templates</li>
	
					</ul>
				</li>
	
			</ul>
		</div>
		<div id="content" class="column-left">
			<h2>Introduction</h2>
	
			<p>Welcome to fantasy, a free valid CSS &amp; XHTML strict web template from <a href="http://www.spyka.net" title="spyka webmaster">spyka Webmaster</a>. This template is <strong>free</strong> to use permitting a link remains back to  <a href="http://www.spyka.net" title="spyka webmaster">http://www.spyka.net</a>. Should you wish to use this template unbranded you can buy a template license from our website for 5.00 GBP, this will allow you remove all branding related to our site, for more information about this see below.</p>
	
	
			
			<p>This template has been tested in:</p>
			<ul>
	
				<li>Firefox 3.5</li>
				<li>Opera 10.00</li>
				<li>IE 6, 7 and 8</li>
				<li>Chrome</li>
	
	
			</ul>
	
			<h3>Buy unbranded</h3>
	
			<p>Purchasing a template license for 5.00 GBP (at time of writing around 7.40 USD) gives you the right to remove any branding including links, logos and source tags relating to spyka webmaster. Payments are processed using paypal, with which we are a verified member, via the licensing page on our website which can be accessed at <a href="http://www.spyka.net/licensing" title="template license">http://www.spyka.net/licensing</a></p>
			<h3>Customisation</h3>
			<p>You are free to edit this web template as much or as little as you wish. To alter the page content and structure open index.html in any text or web page editor. To alter the look, colours and style of the template, open styles.css. Our partner website, <a href="http://www.spykawebdesign.com" title="spyka Web Design">spyka Web Design</a> offers customisation services for our templates from as little as 10 GBP!</p> 
			<h3>Webmaster forums</h3>
	
	
	
	
			<p>You can get help with editing and using this template, as well as design tips, tricks and advice in our <a href="http://www.spyka.net/forums" title="webmaster forums">webmaster forums</a></p>
	
			
			<br /><br />
		</div>
	</div>
	
	<div id="footer">
		<div class="clear">
			<div class="ul">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Products</a></li>
					<li><a href="#">Support</a></li>
					<li><a href="#">Legal</a></li>
					<li><a href="#">Jobs</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
		</div>
		<p class="footer-links">
			&copy; 2009 sitename. Design by <a href="http://www.spyka.net">Free CSS Templates</a> and <a href="http://www.justfreetemplates.com">Free Web Templates</a>
		</p>
	</div>
</div>
</body>
</html>
